body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#emoji-face-btn {
    font-size: 3rem;
    transition: .1s;
    filter: grayscale(1);
    border: none;
    cursor: pointer;
}

#emoji-face-btn:hover {
    font-size: 3rem;
    transform: scale(1.23);
    filter: grayscale(0);
}

a {
    color: #8b939c;
}

em {
    color: #8b939c;
}

footer {
    font-size: 12px;
    color: #8b939c;
}